<h2>{{tableTitle}}</h2>
<table class = "bordered-table">
    <tr>
        <th>Index</th>
        <th>Even/Odd</th>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Room Price</th>
        <th>Room Amenities</th>
        <th>CheckIn Time</th>
        <th>Rating</th>
        <th>Select Room</th>
    </tr>
    <tr 
    [ngClass] = "e ? 'even' : 'odd'" 
    *ngFor = "let r of rooms | slice : 0:100; let e=even; let o=odd; let i=index">
        <td>{{i | percent }}</td>
        <td>{{ (e ? "Even" : "Odd") | lowercase}}</td>
        <td>{{ r.roomNumber }}</td>
        <td>{{ r.roomType | uppercase }}</td>
        <td>{{ r.price | currency: 'EUR' }}</td>
        <td>{{ r.amenities | titlecase }}</td>
        <td>{{ r.checkinTime | date : 'short'}}</td>
        <td>{{ r.rating | number : '1.2-2' : 'en-us'}}</td>
        <td>
            <button 
            class="btn btn-primary" 
            (click)="selectRoom(r)"
            >
            Select Room
            </button>
        </td>
    </tr>
</table>