table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }

  .bordered-table {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  .bordered-table th,
  .bordered-table td {
    border: 1px solid black;
  }
  

  .even{
    background-color: steelblue;
    color: white;
  }

  .odd{
    background-color: tomato;
    color: white;
  }